<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Would you like to edit the article template?</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

 <div class="container article-list">
      <div class="row">
        <div class ="col-md-12">
      <ul class = "media-list"> 
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../images/obama.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"></h4>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../images/obama.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"></h4>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../images/obama.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"></h4>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../images/obama.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"></h4>
          </div>
        </li>
      </ul>
    </div>
    </div>
    </div>

<div class="container">
  <article class="main-article">
    
    <div class="row">
      <div class="col-md-12">
        <header id="article-header">
        
          <h1> ARTICLE TITLE </h1>
          <button 
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
    <footer id = "article-byline">
      <span id= "author"> AUTHOR NAME </span>
      <time> TIME </time>
    </footer>
    </div>
    </div>

    <div class="row">
       <div class="col-md-12">

       <img src="../images/nancy.jpg" class="img-responsive pull-right img-thumbnail" id="article-image">

        <p> Agreed joy vanity regret met may ladies oppose who. Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up. For gay consisted resolving pronounce sportsman saw discovery not. Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence. Entreaties we collecting unpleasant at everything conviction. </p>

        <p>Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause. </p>

        <p>Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort elderly be me. Walls began of child civil am heard hoped my. Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father. Folly sex downs tears ham green forty. </p>

        <aside id="article-related-articles" class="pull-right">
        <h5> Related Articles </h5>
          <ul id="related-article-list">
            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="../images/obama.jpg">
              </a>
              <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
               ...
              </div>
            </li>
            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="../images/obama.jpg">
              </a>
              <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
               ...
              </div>
            </li><li class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="../images/obama.jpg">
              </a>
              <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
               ...
              </div>
            </li>
          </ul>
          </aside>

        <p>Wrong do point avoid by fruit learn or in death. So passage however besides invited comfort elderly be me. Walls began of child civil am heard hoped my. Satisfied pretended mr on do determine by. Old post took and ask seen fact rich. Man entrance settling believed eat joy. Money as drift begin on to. Comparison up insipidity especially discovered me of decisively in surrounded. Points six way enough she its father. Folly sex downs tears ham green forty. </p>


      

       </div>


      </div>
  </article>


  <div id="site-index">
    <section>
      <div class="row">
        <div class="column-md-12">
          <h2 id="site-index-heading"> SITE INDEX </h2> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <h3> NEWS </h3>
          <ul class="nav">
          <li> <a href="#"> World </a> </li>
          <li> <a href="#"> U.S. </a> </li>
          <li><a href="#"> Politics </a></li>
          <li><a href="#"> New York </a></li>
          <li><a href="#"> Business </a></li>
          <li><a href="#"> Technology </a></li>
          <li><a href="#"> Science </a></li>
          <li><a href="#"> Health </a></li>
          <li><a href="#"> Sports </a></li>
          <li><a href="#"> Education </a></li>
          <li><a href="#"> Obituaries </a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h3> OPINION </h3>
          <ul class="nav">
          <li><a href="#"> Todays Opinion </a></li>
          <li><a href="#"> Op-Ed Columnists </a></li>
          <li><a href="#"> Editorials </a></li>
          <li><a href="#"> Contributing Writers </a></li>
          <li><a href="#"> Op-Ed Contributors </a></li>
          <li><a href="#"> Opinionator </a></li>
          <li><a href="#"> Letters </a></li>
          <li><a href="#"> Sunday Review </a></li>
          <li><a href="#"> Room for Debate </a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h3> ARTS </h3>
          <ul class="nav">
           <li><a href="#"> Todays Arts </a></li>
           <li><a href="#"> Art & Design</a></li>
           <li><a href="#"> ArtsBeat </a></li>
           <li><a href="#"> Books </a></li>
           <li><a href="#"> Dance </a></li>
           <li><a href="#"> Movies </a></li>
           <li><a href="#"> Music </a></li>
           <li><a href="#"> N.Y.C Events </a></li>
           <li><a href="#"> Television </a></li>
           </ul>
        </div>
        <div class="col-md-2">
          <h3> LIVING </h3>
          <ul class="nav">
           <li><a href="#"> Automobiles </a></li>
           <li><a href="#"> Crosswords </a></li>
           <li><a href="#"> Dining and Wine </a></li>
           <li><a href="#"> Education </a></li>
           <li><a href="#"> Fashion and Style </a></li>
           <li><a href="#"> Health </a></li>
           <li><a href="#"> Home and Garden </a></li>
           <li><a href="#"> Jobs </a></li>
           <li><a href="#"> Magazine </a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h3> LISTINGS </h3>
          <ul class="nav">
           <li><a href="#"> Classifieds </a></li>
           <li><a href="#"> Tools & Services </a></li>
           <li><a href="#"> Times Topics </a></li>
           <li><a href="#"> Public Editor </a></li>
           <li><a href="#"> N.Y.C. Events Guide </a></li>
           <li><a href="#"> TV Listings </a></li>
           <li><a href="#"> Blogs </a></li>
           <li><a href="#"> Cartoons </a></li>
           <li><a href="#"> Multimedia </a></li>
           </ul>
        </div>
      </div>
      </section>
      </div>
        
    </div>
