 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"> Article Option </h2>
            </div>
            <div class="panel-body">
            {{#link-to 'article-template'}} Article Template {{/link-to}}
            </div>
          </div>
        </div>

       <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"> Article Option </h2>
            </div>
            <div class="panel-body">
              Content
            </div>
          </div>
        </div>

        
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"> Article Option </h2>
            </div>
            <div class="panel-body">
              Content
            </div>
          </div>
        </div>

       <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title"> Article Option </h2>
            </div>
            <div class="panel-body">
              Content
            </div>
          </div>
        </div>

        
      </div>


      


    </div> 